:root {
  --font-system: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  --color-bg: #0a0e17;
  --color-text: #666b83;
  --color-header-bg: #2e3b59;
}
