:root {
  --font-system: system, -apple-system, '.SFNSText-Regular', 'San Francisco', Roboto, 'Segoe UI', 'Helvetica Neue',
    'Lucida Grande', sans-serif;

  --color-bg: #0a0e17;
  --color-text: #666b83;
  --color-header-bg: #2e3b59;
}
